body {
  color: #dd5;
  background: #34495e;
  font-size: 150%;
  font-weight: bold;
  padding: 0 20px;
  text-shadow: 1px 1px 0 #333;
}

p {
  font-size: 1em;
}

p span {
  color: #e64134;
  font-size: .8em;
}

@media ( max-width: 700px ) {

  body {
    font-size: 100%;
  }

}