//
//	SVG
// ------------------------------------------------------

svg {
	transform: rotate(-90deg);
	circle {
		fill: none;
		stroke-width: 2;
	}
}

.underlay {
	stroke: $color-underlay;
}

.progress {
	stroke: $color-safe;
	stroke-width: 4;
}