/* GENERAL */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color: #323232;
	background: #eeefed;
	font-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after {
	content: " ";
	display: table;
}

.container:after,
.group:after,
.menu:after {
	clear: both;
}

.container,
.group,
.menu {
	*zoom: 1;
}

a {
	text-decoration: none;
}

strong {
	font-weight: 600;
}

.menu {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.menu li {
	float: left;
}

.fa {
	vertical-align: middle;
}

.container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 1.25em; /* 20/16 */
}

.gallery .container {
	padding: 0;
}

/* CONTACT */
.contact-bar,
.personal a {
	color: #fff;
}

.contact-bar {
	background: #39a3d4;
	height: 84px;
	font-size: 0.875em; /* 14/16 */
}

.personal {
	float: left;
	margin-top: 29px;
}

.personal li {
	margin-right: 70px;
}

.personal .fa {
	font-size: 2em; /* 28/14 */
	margin-right: 5px;
}

.social {
	float: right;
	margin-top: 18px;
}

.social .fa {
	font-size: 1.2142857142857142em; /* 17/14 */
}

.social-icon {
	display: block;
	width: 48px;
	height: 48px;
	line-height: 46px;
	color: #989898;
	background: #eeefed;
	text-align: center;
	border-radius: 2px;
	margin-right: 2px;
}

.social-icon:hover,
.social-icon:focus {
	color: #fff;
	background: #5bd0ec;
}

/*NAVIGATION */
.nav-bar {
	background: #f2f2f2;
}

.logo {
	float: left;
}

.logo a {
	display: block;
	background: url('../img/logo.png') 0 0 no-repeat;
	width: 186px;
	height: 31px;
	text-indent: -9999px;
	margin-top: 24px;
}

.navigation {
	float: right;
}

.navigation .fa {
	display: block;
	padding-top: 28px;
	padding-bottom: 10px;
}

.navigation li {
	border-left: 1px solid #cecece;
}

.navigation li:last-child {
	border-right: 1px solid #cecece;
}

.navigation a {
	color: #a6a6a6;
	display: block;
	width: 136px;
	height: 120px;
	text-align: center;
	text-transform: uppercase;
}

.selected a,
.navigation a:hover,
.navigation a:focus {
	color: #de5728;
}

/* ARTICLE */
.text-center {
	text-align: center;
}

.post-header {
	background: url('../img/cover.jpg') center -274px no-repeat;
	height: 166px;
}

.post-title {
	color: #fff;
	font-size: 2.8125em; /* 45/16 */
	font-weight: 600;
	background: #de5728;
	padding: 18px 46px;
	border-radius: 7px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: -2px;
	margin-top: 36px;
}

.post-content {
	padding-bottom: 150px;
}

.post-content h2 {
	color: #323232;
	font-weight: 400;
	font-size: 1.875em; /* 30/16 */
	line-height: 42px;
}

.controls {
	width: 642px;
	margin: 50px auto;
	text-align: center;
}

.controls a {
	font-size: 1.375em; /* 22/16 */
	font-weight: 300;
	color: #39a3d4;
	text-transform: uppercase;
	padding: 0 25px;
	line-height: 48px;
	display: block;
}

.controls a:hover,
.controls a:focus,
.controls .selected a {
	color: #fff;
	background: #39a3d4;
	border-radius: 4px;
}

.gallery {
	font-size: 0;
}

/* FOOTER */
.pre-footer {
	color: #fff;
	background: #323232;
	text-align: center;
}

.pre-footer .container {
	width: 400px;
	padding: 40px 0 60px 0;
}

.pre-footer p {
	font-size: 1em;
	line-height: 26px;
	text-transform: uppercase;
}

.pre-footer strong {
	font-size: 1.375em; /* 22/16 */
	font-weight: 600;
	text-transform: none;
}

.pre-footer .personal li {
	margin-right: 0;
}

.pre-footer .personal li:first-child {
	margin-right: 59px;
}

footer {
	font-size: 0.875em; /* 14/16 */
}

footer .container {
	background: url('../img/logo.png') left center no-repeat;
}

footer p {
	color: #a6a6a6;
	float: left;
	padding-left: 200px;
}

footer p a {
	color: #e75652;
	font-weight: 600;
}

footer p,
footer .menu {
	margin: 32px 0 32px 0;
}

footer .menu {
	font-weight: 600;
	text-transform: uppercase;
	float: right;
}

footer .menu a {
	color: #989898;
}

footer .menu a:hover,
footer .menu a:focus {
	text-decoration: underline;
}

footer li:after {
	color: #989898;
	content: '/';
	margin: 0 8px;
}

footer li:last-child:after {
	content: '';
}