body {
    color: $color-grey-dark;
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
    font-weight: 400;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    
    &--main {
        display: block;
        font-size: 6rem;
        letter-spacing: 3.5rem;
        font-weight: 400;
        animation: moveInRight 1s ease-in-out;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        letter-spacing: 1.75rem;
        font-weight: 700;
        animation: moveInLeft 1s ease-in-out;
    }
}

.heading-secondary {
    display: inline-block;
    font-size: 3.5rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}