.form {
    &__group {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__input {
        width: 90%;
        background-color: rgba($color-white, .6);
        color: inherit;
        font-family: inherit;
        font-size: 1.4rem;
        padding: 1.5rem 2rem;
        border-radius: .2rem;
        border: none;
        border-bottom: .3rem solid transparent;
        -webkit-transition: all .3s;
        transition: all .3s;

        &:focus {
            outline: none;
        }
    }

    &__label {
        display: block;
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        transition: all .3s;
    }

    &__input:focus:invalid {
        border-bottom: .3rem solid $color-secondary-dark;
    }

    &__input:focus:valid {
        border-bottom: .3rem solid $color-primary;
    }

    &__input:placeholder-shown ~ &__label {
        -webkit-transform: translateY(-4.2rem);
                transform: translateY(-4.2rem);
        opacity: 0;
        visibility: hidden;
    }

    &__radio {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        display: flex;
        vertical-align: center;

        font-size: 1.6rem;
    }

    &__radio-button {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        border: .5rem solid $color-primary;
        border-radius: 50%;
        margin-right: 2rem;

        display: flex;
        align-items: center;
        justify-content: center;

        &:after {
            content: '';
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            background-color: $color-primary;
            border-radius: 50%;
        }
    }
}